USE [master]
GO
/****** Object:  Database [Lab1]    Script Date: 8/14/2020 8:01:48 PM ******/
CREATE DATABASE [Lab1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Lab1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Lab1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab1]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 8/14/2020 8:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[IdQuestion] [nvarchar](50) NOT NULL,
	[Question] [nvarchar](500) NULL,
	[Answer1] [nvarchar](500) NULL,
	[Answer2] [nvarchar](500) NULL,
	[Answer3] [nvarchar](500) NULL,
	[Answer4] [nvarchar](500) NULL,
	[CorrectAnswer] [nvarchar](500) NOT NULL,
	[IdSubject] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[QuesStatus] [nvarchar](50) NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[IdQuestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizDetail]    Script Date: 8/14/2020 8:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizDetail](
	[Email] [nvarchar](50) NOT NULL,
	[Score] [float] NULL,
	[IdQuiz] [int] IDENTITY(1,1) NOT NULL,
	[DoingDate] [datetime] NULL,
	[IdSubject] [nvarchar](50) NULL,
 CONSTRAINT [PK_QuizDetail_1] PRIMARY KEY CLUSTERED 
(
	[IdQuiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizUser]    Script Date: 8/14/2020 8:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizUser](
	[Email] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Password] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.QuizUser] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 8/14/2020 8:01:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[IdSubject] [nvarchar](50) NOT NULL,
	[NameSubject] [nvarchar](50) NULL,
	[SubStatus] [nvarchar](50) NULL,
	[NumQuestion] [int] NULL,
	[Time] [time](7) NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[IdSubject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Question] ([IdQuestion], [Question], [Answer1], [Answer2], [Answer3], [Answer4], [CorrectAnswer], [IdSubject], [Date], [QuesStatus]) VALUES (N'ENG1', N'______? -There are one thousand.', N'How many grams are there in a kilogram?', N'How many are there grams in a kilogram?', N'How many grams are they in a kilogram?', N'How many grams are there of a kilogram?', N'How many grams are there in a kilogram?', N'ENG', CAST(N'2020-05-26T14:20:01.277' AS DateTime), N'active')
INSERT [dbo].[Question] ([IdQuestion], [Question], [Answer1], [Answer2], [Answer3], [Answer4], [CorrectAnswer], [IdSubject], [Date], [QuesStatus]) VALUES (N'ENG10', N'How long ______ in Spain on vacation last summer?', N'were they', N'you are been', N'are been', N'was', N'were they', N'ENG', CAST(N'2020-05-26T14:20:01.290' AS DateTime), N'deactive')
INSERT [dbo].[Question] ([IdQuestion], [Question], [Answer1], [Answer2], [Answer3], [Answer4], [CorrectAnswer], [IdSubject], [Date], [QuesStatus]) VALUES (N'ENG11', N'Next weekend, we hope to ______ for a few days.', N'get away', N'get on', N'get through', N'get of', N'get away', N'ENG', CAST(N'2020-05-26T14:20:01.290' AS DateTime), N'active')
GO
SET IDENTITY_INSERT [dbo].[QuizDetail] ON 

INSERT [dbo].[QuizDetail] ([Email], [Score], [IdQuiz], [DoingDate], [IdSubject]) VALUES (N'bbb@gmail.com', 10, 2, CAST(N'2020-06-02T06:41:46.017' AS DateTime), N'ENG')
INSERT [dbo].[QuizDetail] ([Email], [Score], [IdQuiz], [DoingDate], [IdSubject]) VALUES (N'bbb@gmail.com', 1, 3, CAST(N'2020-06-02T12:24:08.983' AS DateTime), N'ENG')
INSERT [dbo].[QuizDetail] ([Email], [Score], [IdQuiz], [DoingDate], [IdSubject]) VALUES (N'bbb@gmail.com', 8, 6, CAST(N'2020-06-02T15:24:44.490' AS DateTime), N'ENG')
SET IDENTITY_INSERT [dbo].[QuizDetail] OFF
INSERT [dbo].[QuizUser] ([Email], [Name], [Password], [Status], [Role]) VALUES (N'aaa@gmail.com', N'giang', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'active', N'admin')
INSERT [dbo].[QuizUser] ([Email], [Name], [Password], [Status], [Role]) VALUES (N'bbb@gmail.com', N'giang', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'active', N'student')
INSERT [dbo].[QuizUser] ([Email], [Name], [Password], [Status], [Role]) VALUES (N'bibi@gmail.com', N'Bi', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'active', N'student')
INSERT [dbo].[Subject] ([IdSubject], [NameSubject], [SubStatus], [NumQuestion], [Time]) VALUES (N'ENG', N'English', N'active', 10, CAST(N'00:30:00' AS Time))
INSERT [dbo].[Subject] ([IdSubject], [NameSubject], [SubStatus], [NumQuestion], [Time]) VALUES (N'PRJ311', N'JavaWeb', N'active', 5, CAST(N'00:15:00' AS Time))
ALTER TABLE [dbo].[Question] ADD  CONSTRAINT [DF_Question_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[QuizDetail] ADD  CONSTRAINT [DF_QuizDetail_DoingDate]  DEFAULT (getdate()) FOR [DoingDate]
GO
USE [master]
GO
